@import './reset.css';
@import './variables.css';
@import './blocks.css';

html {
    font-size: 14px;
}

body {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: sans-serif;
}

.logo-icon svg {
    width: 2rem;
}