@media (width >= 1024px) {
    body {
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 2rem;
    }

    header {
        all: unset;
        background-color: var(--theme-clr);
        padding-left: 10%;

        & .sticky {
            position: sticky;
            top: 0;
            /* margin-top: 2rem; */
            display: grid;
            place-items: start;
        }
    
        & .logo {
            margin-top: 2rem;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            width: 90%;
            aspect-ratio: 1 / 1;
            border: 2px solid var(--text-clr);
            border-radius: 1rem;
            text-align: center;
            /* background-color: var(--bg-clr); */
    
            & h1 {
                font-size: 2.25rem;
            }
        }
    
        & .topics {
            /* all: unset; */

            margin-top: 3rem;
            /* display: flex; */
            /* flex-direction: column; */
            /* justify-content: flex-end; */
            /* align-items: flex-end; */
            display: grid;
            place-items: end;
            gap: 1rem;
            width: 100%;
    
            & h2 {
                font-size: 1.75rem;
                padding-bottom: .25rem;
                place-self: center;
            }
        }
    }

    nav {
        /* overflow: hidden; */
        /* hidden brakes the pseudo elems effect */
        overflow: visible;
    
        & .nav-links {
            display: grid;
            /* flex-direction: column;
            align-items: flex-end; */
            gap: .25rem;
            
    
            & li {
                font-size: 1.5rem;
                text-align: right;
                padding: .5rem 2rem;
                cursor: pointer;
            }

            & li[aria-current] {
                position: relative;
            }
        
            & li[aria-current]::before,
            & li[aria-current]::after {
                --border-radius: 2rem;
    
                content: '';
                position: absolute;
                width: var(--border-radius);
                height: var(--border-radius);
                border-radius: 100%;
                background-color: yellow;
                right: 0;
            }
    
            & li[aria-current]::before {
                top: calc(var(--border-radius) * -1);
            }
            & li[aria-current]::after {
                bottom: calc(var(--border-radius) * -1);
            }
        }
    }

    /* main {
        padding-left: 3rem;
    } */
    .title-search {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .title {
            margin-block: unset;
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;

        }

        & .search {
            order: 2;
            flex-grow: 1;
        }
    }
}