@media (width >= 1024px) {
    body {
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 2rem;
    }

    header {
        all: unset;

        /* position: sticky;
        top: 0; */
        background-color: var(--theme-clr);
        padding-left: 10%;
        /* padding: 1rem 1rem .5rem; */
        /* position: fixed;
        top: 0;
        left: 0;
        height: 100svh; */
        /* width: 20rem; */

        & .sticky {
            position: sticky;
            top: 0;
            /* margin-top: 2rem; */
            display: grid;
            place-items: start;
        }
    
        & .logo {
            margin-top: 2rem;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            width: 90%;
            aspect-ratio: 1 / 1;
            border: 2px solid var(--text-clr);
            border-radius: 1rem;
            text-align: center;
    
            & h1 {
                font-size: 2.25rem;
            }
        }
    
        & .topics {
            /* all: unset; */

            margin-top: 3rem;
            /* display: flex; */
            /* flex-direction: column; */
            /* justify-content: flex-end; */
            /* align-items: flex-end; */
            display: grid;
            place-items: end;
            gap: 1rem;
            width: 100%;
    
            & h2 {
                font-size: 1.75rem;
                padding-bottom: .25rem;
                place-self: center;
            }
        }
    }

    nav {
        /* all: unset; */

        /* overflow: scroll; */
        /* display: flex; */
        /* justify-content: flex-end; */

        /* margin-top: 1rem; */
        overflow: hidden;
        /* width: 90%; */

    
        & .nav-links {
            display: grid;
            /* flex-direction: column;
            align-items: flex-end; */
            gap: .25rem;
    
            & li {
                width: 100%;
                font-size: 1.5rem;
                text-align: right;
                padding: .5rem 2rem;
                cursor: pointer;
            }
        }
    
        /* & .active {
            background-color: var(--channel-card-bg);
            padding: 0 .5rem;
            border-radius: .25rem;
        } */
    }

    /* main {
        padding-left: 3rem;
    } */
    .title-search {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .title {
            margin-block: unset;
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;

        }

        & .search {
            order: 2;
            flex-grow: 1;
        }
    }
}